.cursive {
    font-family: 'Srisakdi', cursive;
}

.navlink {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #c0c1c4;
}

.navlink:hover {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #d1a2ef;
    text-decoration: none;
}

.navbar-toggler {
    font-size: 10px;
}

.carousel-container {
    height: 100px;
    /* width: 100%; */
}


/* Desktops & Laptops */
@media only screen  and (min-width : 1224px) {
    .h1-header-text {
        font-size: 5rem;
    }

    .h3-header-text {
        font-size: 2rem;
    }

    .map-container {
        height: 75vh;
    }
    
    .navlink-arrow {
        position: relative;
        background:#f8f9fa;
        border: 4px solid #f8f9fa;
        color: #d1a2ef
    }

    .navlink-arrow:after, .navlink-arrow:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .navlink-arrow:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #f8f9fa;
        border-width: 30px;
        margin-left: -30px;
    }
    .navlink-arrow:before {
        border-color: rgba(194, 225, 245, 0);
        border-top-color: #f8f9fa;
        border-width: 36px;
        margin-left: -36px;
    }
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .h1-header-text {
        font-size: 2.5rem;
    }
    
    .h3-header-text {
        font-size: 1.5rem;
    }

    .map-container {
        height: 70vh;
    }

    .navlink {
        font-size: 0.80rem;
    }

    .navlink-arrow {
        position: relative;
        background:#f8f9fa;
        border: 4px solid #f8f9fa;
        color: #d1a2ef
    }

    .navlink-arrow:after, .navlink-arrow:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .navlink-arrow:after {
        border-color: rgba(136, 183, 213, 0);
        border-top-color: #f8f9fa;
        border-width: 30px;
        margin-left: -30px;
    }
    .navlink-arrow:before {
        border-color: rgba(194, 225, 245, 0);
        border-top-color: #f8f9fa;
        border-width: 36px;
        margin-left: -36px;
    }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .h1-header-text {
        font-size: 2.5rem;
    }

    .h3-header-text {
        font-size: 1rem;
    }

    .navlink {
        font-size: 1.2rem;
    }

    .navlink-arrow {
        color: #d1a2ef     
    }

    .map-container {
        height: 50vh;
    }
}